{%  extends 'base.html' %}

{% block content %}


    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Pricing
        <small>Subheading</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Pricing</li>
      </ol>

      <!-- Content Row -->
      <div class="row">
        <div class="col-lg-6 mb-4">
          <div class="card h-100">
            <h3 class="card-header">Basic</h3>
            <div class="card-body">
              <div class="display-4">£30</div>
              <div class="font-italic">per candidate</div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Familiar and easy</li>
              <li class="list-group-item">Invoice per candidate matched</li>
              <li class="list-group-item">No ongoing commitments</li>
              <li class="list-group-item">
                <a href="#" class="btn btn-primary">Sign Up!</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="card card-outline-primary h-100">
            <h3 class="card-header bg-primary text-white">Full Service</h3>
            <div class="card-body">
              <div class="display-4">£150</div>
              <div class="font-italic">per month</div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Billing handled</li>
              <li class="list-group-item">All inclusive</li>
              <li class="list-group-item">Full access to every candidate</li>
              <li class="list-group-item">
                <a href="#" class="btn btn-primary">Sign Up!</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->


{% endblock %}